.wrap {
  display: flex;
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  padding: 2%;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.actions {
  width: 60%;
}
.actions input {
  border: 1px solid rgb(34, 80, 230);
  width: 60px;
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
  margin-left: 10px;
  box-sizing: border-box;
  outline: 0;
}
.actions input:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.3);
}
.actions label {
  margin-right: 10px;
}
.property {
  display: flex;
  align-items: center;
}

.right-pannel {
  flex: 1;
}
.result {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
}
.box {
  transition: all ease 0.3s;
}
