.wrap {
  display: flex;
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  padding: 2%;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.actions {
  width: 60%;
  padding-right: 80px;
}
.actions input {
  border: 1px solid rgb(34, 80, 230);
  width: 60px;
  height: 30px;
  padding: 0 0 0 10px;
  border-radius: 4px;
  box-sizing: border-box;
  outline: 0;
  margin-top: 10px;
}
.actions input[type='number']::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: 30px;
}
.actions input[type='color' i] {
  padding: 0;
}
.actions input[type='color' i]::-webkit-color-swatch-wrapper {
  padding: 0;
}
.actions input[type='color' i]::-webkit-color-swatch {
  border-radius: 3px;
  border: 0;
}
.actions input:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.3);
}
.actions label + label {
  margin-left: 10px;
}
.actions label p {
  margin: 0;
}
.property {
  position: relative;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  transition: background cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  justify-content: space-between;
  border-radius: 20px;
}
.property:hover {
  background: #eee;
}
.right-pannel {
  flex: 1;
}
.result {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
}
.box {
  transition: all ease 0.3s;
}
.add {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 34px;
  position: absolute;
  top: 50%;
  right: -34px;
  transform: translateY(-50%) rotate(45deg);
  background: #eee;
  border: 0;
  border-radius: 34px 34px 34px 0;
  outline: 0;
}
.add span {
  position: relative;
  width: 20px;
  height: 20px;

  transform: rotate(45deg);
}
.add span::before {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  background: #000;
}
.add span::after {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  content: '';
  background: #000;
}
.code pre {
  word-break: break-all;
  white-space: pre-wrap;
}
